body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  padding: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.swiper {
  width: 280px;
  height: 360px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(89, 134, 147);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(164, 197, 222);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(60, 98, 139);
}

